{% load i18n %}
{% block include %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
	  $(function() {
	    $( "#datepicker" ).datepicker({
	      defaultDate: '1990-01-01',
	      yearRange: '1950:2010',
	      dateFormat: 'yy-mm-dd',
	      changeMonth: true,
	      changeYear: true
	    });
	  });
	  </script>
	  <script>
			  $(function() {
			    $( "#timepicker" ).timepicker({
			      // You can put more options here.

			    });
			  });
	  </script>
{% endblock %}
<form method="post" action="{% url 'book_profile' profile.pk %}">
	<div id="book-form-body">
		{% csrf_token %}
		{{ form.date.label_tag }}
		{{ form.date }}
		</br>
		</br>
		</br>
		{{ form.startTime.label_tag }}
		{{ form.startTime }}
		</br>
		</br>
		</br>
		{{ form.message.label_tag }}
		{{ form.message }}
		</div>
		<input type="submit" value="Book!" />
	</div>
</form>