#top-menu-content {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
a:hover{
	cursor: pointer;
}
#over-block{
	margin-right: auto;
	margin-left: auto;
	width: 1350px;
	height: 700px;
	vertical-align: middle;

}
hr{
	clear: both;
}
#new-bookings-block{
	width: 300px;
	height: 700px;
	overflow: auto;
	margin-top: 15px;
	background-color: white;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
#calendar-block{
	text-align: center;
	width: 700px;
	height: 700px;
	overflow: auto;
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: middle;
	display: inline-block;
}
#accepted-bookings-block{
	text-align: center;
	width: 300px;
	height: 700px;
	overflow: auto;
	margin-top: 15px;
	display: inline-block;
	background-color: white;
	vertical-align: middle;
}
.booking-single{
	margin-left: 50px;
	margin-right: 50px;
}
.booking-response-block {
	background-color: white;
	width: 200px;
	text-align: center;
	float:right;
	clear: both;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 10px;
}
.booking-info-block{
	float: right;
	margin-right: 50px;
	margin-top: 25px;
}
.response-button > p{
	vertical-align: top;
	color: white;
	font-size: .5em;
}
.response-button {
	width:100px;
	height:25px;
}
.booking-sender{
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}
.booking-message-block{
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	clear:both;
	width:300px;
	margin-top: -25px;
}
.accept-button{
	background-color: green;
	float: right;
	margin-right: 50px;
	margin-top: -50px;
}
.decline-button{
	float: right;
	background-color: red;
	margin-right: 50px;
}