#top-menu-content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#mission-body {
	width: 1000px;
	position: absolute;
	left: 0;
	right: 0;
	padding: 0;
	margin: auto;
	margin-top: 20px;
	text-align: left;
}
#mission {
	float: left;
	width: 980px;
	height: 1500px;
	overflow: auto;
}
h2 {
	margin: 0 0 5px 0;
	font-size: 2em;
}
p{
	font-size: 1.2em;
}
ul{
	text-align: left;
}
#last-p-about{
	font-weight: bold;
}
#top-menu-content {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#team-body {
	width: 1000px;
	left: 0;
	right: 0;
	padding: 0;
	margin: auto;
	margin-top: 20px;
	text-align: left;
}
#team {
	float: left;
	width: 980px;
	overflow: auto;
}
.team-info{
	margin-bottom: 10px;
	width: 100%;
	height: 250px;
	background-color: #eeeef3;
}
.team-circle{
	width:200px;
	margin-top: 25px;
	margin-right: 100px;
	height: 200px;
	border-radius: 100px;
	display: inline-block;
}
.team-circle > img{
	width: 100%;
	height: 100%;
	border-radius: 100px;
}
.team-para{
	width:650px;
	height:200px;
	margin-top: 25px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

#team-info-id{
	height: 100%;
}
h3 {
	text-align: left;
}
h2{
	text-align: center;
}