{% extends "base.html" %}
{% load i18n %}

{% block include %}
	<link href="{{ STATIC_URL }}mission.css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="mission-body">
	<div class="white-block" id="mission">
		<h2>Our Mission</h2>
		<p>Our mission at Glide.With.Us is to bring ‘Social’ interaction back into modern day ‘Social Media’. The sole purpose of our existence is to help facilitate the connection between two or more people, who would have otherwise, never had the opportunity to meet. We look forward to developing a long lasting relationship with all our users- while helping to facilitate the relationships between you and others, from all over the world. We believe that with your help, we can rid the world of ignorance, and solve the root of all conflict. The key is to get off our couch, get off of Facebook, and interact face to face.  Only then will we truly really get to know each other. </p>
		<hr>
		<h2>Our History</h2>
		<p>Founded in 2012, after the founders experienced first hand the nightmare behind travel research, we set out to automate the travel research process. We built software that matched travelers to vacation destinations based on their interests, while generating an itinerary for them consisting of things to do while they were in any particular city. Throughout our interaction with potential customers, we soon realized, that the best way to find things to do in any given destination was actually through the locals themselves.  It was they who lived in and knew the city best, and it was they who were the most passionate showing it off. Taking what we had learned this past summer, we started to work on our latest iteration of the service- focusing more around connecting like-minded people face to face.</p>
		<hr>
		<h2>Our Service</h2>
			<p>How it works</p>
		<ul>
			<li><p>Create your own profile.</p></li>
			<li><p>Browse through hundreds of interesting people from all over the world.</p></li>
			<li><p>Send them a meetup request. </p></li>
		</ul>
		<hr>
		<p id="last-p-about">Glidewith.us is a platform that helps to facilitate the connection between like-minded individuals. We believe, that by connecting people of different background together, we can breed a foundation of mutual understanding, and reduce the amount of conflict caused due to misunderstandings. </p>
		<hr>
		<h2>Our Team</h2>
		<div id="team-info-id">
			<div class="team-info">
				<div class="team-circle">
					<img src="{{ STATIC_URL }}img/team/martin.png">
				</div>
				<div class="team-para">
					<h3>Martin Skow Roed</h3>
					<p>Co-Founder and CTO.  Martin Røed is the Co-Founder and CTO of Glidewith.us. His primary responsibility is to lead the development team and to oversee the technical strategy of the company</p>
				</div>
			</div>
			<div class="team-info">
				<div class="team-circle">
					<img src="{{ STATIC_URL }}img/team/carter.jpg">
				</div>
				<div class="team-para">
					<h3>Carter Henderson</h3>
					<p>Co-Founder. Carter is currently a senior in high school. He has kickstarted his entrepreneurial career by working alongside Martin to help build a product around Jon’s Vision.</p>
				</div>
			</div>
			<div class="team-info">
				<div class="team-circle">
					<img src="{{ STATIC_URL }}img/team/jon.png">
				</div>
				<div class="team-para">
					<h3>Jon Kolman</h3>
					<p>Co-Founder and CEO of Glidewith.us. He drives the company’s vision, strategy and growth, as it provides a unique way for people to meet like-minded individuals. Jon jumpstarted his entrepreneurial career when he was just a sophomore in High school by creating a Siri port, that allowed people with older generation I-devices to install and run Siri on their iPhones, iPod touches and iPads. </p>
				</div>
			</div>
			<div class="team-info">
				<div class="team-circle">
					<img src="{{ STATIC_URL }}img/team/olke.png">
				</div>
				<div class="team-para">
					<h3>Oleksandr Levtchenko</h3>
					<p>Oleksandr Levtchenko has graduated from Drexel University with a degree in Finance and Entrepreneurship.  He has had experience at several start-up companies, ranging from being a project manager to co-founder.  He has served as a financial advisor for several startups, including one for which he is helping to raise $750,000 in venture capital funding. Mr Levtchenko is the director of Finance for Glidewith.us. He is primarily involved with funding and financial management of the company. </p>
				</div>
			</div>
			<div  id="arad-div" class="team-info">
				<div class="team-circle">
					<img src="{{ STATIC_URL }}img/team/arad.png">
				</div>
				<div class="team-para">
					<h3>Aradhyah Malhotra</h3>
					<p>Aradhyah Malhotra graduated from Drexel University with a B.S in Computer Science. He is a social entrepreneur with technical management experience and diversified skills including game programming, artwork design and disc jockeying. Before co-founding Glidewith.us, Aradhya co-founded  Skyless Game Studios and worked for Siemens Corporate Research for over 2 years as a Software Developer. He has a deep interest in international affairs and is also the founder of Drexel University’s Model United Nations program. Mr. Malhotra is the current System Architect for Glidewith.Us. His primary responsibility is to assist Jon in breaking down his vision into its smallest components and build prototypes that can be easily understood by both the design and development team. He also provides technical insights to product development and business development.</p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}