{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block include %}
	<link href="{{ STATIC_URL }}testimonial.css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="testimonial-body">
	<div class="white-block" id="testimonial-profile">
		<div style="text-align: center;">
			{% thumbnail profile.photo "200x200" crop="center" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="testimonial-image"/>
			{% endthumbnail %}
			<h3>{{ profile }},</h3>
			<h3>{{ profile.city }}</h3>
		</div>		
	</div>
	<div class="white-block" id="testimonial-form">
		<h2>{% trans "Rate " %}{{ profile }}!</h2>
		<hr>
		<p>{% trans "Had a great experience with " %}{{ profile.user.first_name }}? {% trans "Write " %}{{ profile.user.first_name }} {% trans "a testimonial" %}</p>
		<hr>
		<form method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    {{ form.content }} {{ form.content.errors }}
		    <br>
		    <h3 style="float: left;">{% trans "Why don't you give" %} {{ profile.user.first_name }} {% trans "a few stars" %}?</h3>
			<span class="rating">
		        <input type="radio" class="rating-input"
		            id="rating-input-1-5" name="rating-input-5">
		        <label for="rating-input-1-5" class="rating-star"></label>
		        <input type="radio" class="rating-input"
		            id="rating-input-1-4" name="rating-input-4">
		        <label for="rating-input-1-4" class="rating-star"></label>
		        <input type="radio" class="rating-input"
		            id="rating-input-1-3" name="rating-input-3">
		        <label for="rating-input-1-3" class="rating-star"></label>
		        <input type="radio" class="rating-input"
		            id="rating-input-1-2" name="rating-input-2">
		        <label for="rating-input-1-2" class="rating-star"></label>
		        <input type="radio" class="rating-input"
		            id="rating-input-1-1" name="rating-input-1">
		        <label for="rating-input-1-1" class="rating-star"></label>
		    </span>

		    <input type="submit" class="green-button" value="{% trans "Save testimonial" %}">
		</form>
	</div>
</div>
{% endblock %}
