{% extends "base.html" %}
{% load i18n %}

{% block include %}
	<link href="{{ STATIC_URL }}contact.css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="contact-body">
	<div class="white-block" id="contact">
		<div id="contact-text">
			<h2>Contact us</h2>
			<p>Hi, if you want to contact us, this is the place to do it.</p>
			<p>Also we would like to hear about improvements you'd like on this site.</p>
		</div>
		<div id="contact-form">
			<form method="post">
				<h2>{% trans "Contact form" %}</h2>
				{% csrf_token %}
				{{ form }}<br/>
				<input type="submit" value="{% trans "Submit" %}">
			</form>
		</div>
	</div>
</div>

{% endblock %}