{% extends "base.html" %}
{% load i18n %}

{% block include %}
	<link href="{{ STATIC_URL }}contact.css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="contact-body">
	<div class="white-block" id="contact">
		<div id="contact-text">
			<h2>Contact us</h2>
			<p>How do you like V1 of Glide?</p>
			<p>We’re still in our early beta stage and are open to your feedback!</p>
			<p>Let us know how we can make Glidewith.us as awesome as possible!</p>
		</div>
		<div id="contact-form">
			<form method="post">
				<h2>{% trans "Contact form" %}</h2>
				{% csrf_token %}
				{{ form }}<br/>
				<input type="submit" class="green-button" value="{% trans "Submit form" %}">
			</form>
		</div>
	</div>
</div>

{% endblock %}