{% load i18n %}
{% if rating >= 1 %}
	<img src="{{ STATIC_URL }}img/profile/filled-star.png"/>
{% else %}
	<img src="{{ STATIC_URL }}img/profile/blank-star.png"/>
{% endif %}

{% if rating >= 2 %}
	<img src="{{ STATIC_URL }}img/profile/filled-star.png"/>
{% else %}
	<img src="{{ STATIC_URL }}img/profile/blank-star.png"/>
{% endif %}

{% if rating >= 3 %}
	<img src="{{ STATIC_URL }}img/profile/filled-star.png"/>
{% else %}
	<img src="{{ STATIC_URL }}img/profile/blank-star.png"/>
{% endif %}

{% if rating >= 4 %}
	<img src="{{ STATIC_URL }}img/profile/filled-star.png"/>
{% else %}
	<img src="{{ STATIC_URL }}img/profile/blank-star.png"/>
{% endif %}

{% if rating >= 5 %}
	<img src="{{ STATIC_URL }}img/profile/filled-star.png"/>
{% else %}
	<img src="{{ STATIC_URL }}img/profile/blank-star.png"/>
{% endif %}