{% if notifications %}
<div id="notification-bubble-red" class="notification-bubble">
	<p>{{ notifications.count }}</p>
</div>
<div id="notification-list">
		{% for notification in notifications %}
		<a href="{{ notification.get_url_string }}"><div class="notification">
			<p>{{ notification.get_noti_string }}</p>
		</div></a>
		{% endfor %}
</div>
{% else %}
<div id="notification-bubble-blue" class="notification-bubble">
	<p>0</p>
</div>
<div id="notification-list">
		<p>NO NOTIFICATIONS</p>
</div>
{% endif %}