{% extends "base.html" %}
{% load markup %}
{% load i18n %}
{% load thumbnail %}
{% load profiles %}

{% block include %}
	<link href="{{ STATIC_URL }}landing.css" media="screen" rel="stylesheet">
{% endblock %}

{% block content %}
<hr class="blue">
<div id="landing-header-background">
<hr class="blue" id="hr-two">
</div>

<div id="landing-body">
	<div id="landing-header">
		{% if not example_profile %}
				<img height=400 width=400 id="big-circle"/>
		{% else %}
			<a href="{% url 'view_another_profile' example_profile.user.username %}">
				{% thumbnail example_profile.photo "400x400" crop="center" as im %}
					<img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" id="big-circle"/>
				{% endthumbnail %}
			</a>
			<div id="big-circle-text">
				<h2>{{ example_profile.user.get_full_name }}</h2>
				<h3>{{ example_profile.has_occupation }} {{ example_profile.city }}</h3>
				{% load_rating example_profile %}
			</div>
		{% endif %}
		<div id="landing-header-text">
			<h1>{% trans "Spice things up" %}!</h1>
			<p>{% trans "Experience your destination city" %}</p>
			<p>{% trans "with the company of someone who lives there" %}</p>
			{% if not user.is_authenticated %}
			<form id="sign-up-form" action="{% url 'frontpage' %}" method="POST">
				{% csrf_token %}
				{{ form.username.errors }}
				<input type="text" name="username" placeholder="Username"><br>
				<input type="text" name="first_name" placeholder="First name">
				<input type="text" name="last_name" placeholder="Last name">
				{% if form.email.errors %}
				{{ form.email.errors }}
				{% endif %}
				<input type="text" name="email" placeholder="Your email"><br>
				{% if form.password1.errors %}
				<ul><li>This field is required.</ul></li>
				{% endif %}
				<input type="password" name="password" placeholder="New password"><br>
				<input type="submit" class="blue-button" value="Get started">
			</form>
			<p id="learn-more">
				{% trans "I want to learn" %}
				<a href="{% url 'mission' %}">
					{% trans "more" %}
				</a>
			<p>
			{% endif %}
		</div>
	</div>
</div>
<div id="fade-spacer"></div>
<div id="arrow-section">
		<h3>WHAT AM I GETTING INTO?</h3>
</div>
<div id="landing-about">
			<div class = "para-div" id="sec1">
			<h1>Our Problem</h1>
			<p id="footer-about-paragraph">Since the commercialization of the Internet, face-to-face social interaction has been increasingly marginalized. The rise of social networks like Facebook, Twitter, and so many others, allows us to stay connected to the people we already know, but instead of going out and meeting these new people, we’re sitting behind a screen.</p>
			</div>
			<div class = "para-div" id="sec2">
			<h1>Why now?</h1>
			<p id="footer-about-paragraph">The world is changing. It's no longer about what you know but who you know.</p>
			</div>
			<div class = "para-div" id="sec3">
			<h1>Solution</h1>
			<p id="footer-about-paragraph">Glide is a platform that helps you find like-minded individuals to meet up with</p>
			</div>
</div>
{% endblock %}
