{% load i18n %}
{% load inbox %}
{% load notification-loader %}
<!DOCTYPE html>
<html>
<head>
	<link href="{{ STATIC_URL }}base.css" media="screen" rel="stylesheet">
	<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.base.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js' type='text/javascript'></script>
	{% block include %}{% endblock %}
	<script>
		var alreadyRead = false;
		function read() {
		    $.getJSON("/notifications/read", { pk:{{ user.pk }} }, function(json){
		      alert("Was successful?: " + json['success']);
		    });
		}
		function addClickHandlers() {
		    $(".notification-bubble").click( function() {
		    	if(!alreadyRead){ 
			    	read()
			    	alreadyRead = true;
			    }
			});
		}
		$(document).ready(addClickHandlers);
	</script>
</head>

<header>
	<div id="top-menu-bar">
		<div id="top-menu-content">
			<a href="{% url 'frontpage' %}" class="top-menu-left"><img src="{{ STATIC_URL }}img/logo.png"/></a>
			<div id="top-menu-right">
				{% if not user.is_authenticated %}
				<div id="top-menu-right-login">
					<form action="{% url 'auth_view' %}" method="POST">
						<input type="text" name="username" size="16" placeholder="Username"/>
						<input type="password" name="password" size="16" placeholder="Password"/>
						<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
						<input type="hidden" name="next" value="{{ next }}" />
						<input type="submit" class="blue-button" value="{% trans 'Login' %}"/>
					</form>
				</div>
				{% else %}
				<div id="top-menu-right-image">
					{% load_notifications user %}
				</div>
				<!-- <div id="top-menu-right-image">
					<label for="profile-menu">
						<img src="{{ STATIC_URL }}img/account.png"/>
					</label>
					<input type="checkbox" id="profile-menu">
					<div id="dropdown">
						<a href="{% url 'account' %}" class="dropdown-button">{% trans "View Profile" %}</a>
						{% if not user.get_profile.is_local %}
							<a href="{% url 'be_local' %}" class="dropdown-button">{% trans "Sign as local" %}</a>
						{% else %}
							<a href="{% url 'be_local' %}" class="dropdown-button">{% trans "Unlist yourself" %}</a>
						{% endif %}						
						<a href="{% url 'inbox' %}" class="dropdown-button">{% trans "Inbox" %} {% count_all_unread_messages user %}</a>
						<a href="/profile/logout" class="dropdown-button">{% trans "Logout" %}</a>
						</div>
						{% load_notifications user %}
				</div>
				-->
				{% endif %}
				<div id="top-menu-right-text">
                    {% if user.is_authenticated %}

                        <a href="/profile/logout" class="top-menu-right-button"><u>{% trans "LOGOUT" %}</u></a>
                        {% if not user.get_profile.is_local %}
                                <a href="{% url 'be_local' %}" class="top-menu-right-button">{% trans "SIGN AS LOCAL" %}</a>
                        {% else %}
                                <a href="{% url 'be_local' %}" class="top-menu-right-button">{% trans "UNLIST YOURSELF" %}</a>
                        {% endif %}
                        <a href="{% url 'account' %}" class="top-menu-right-button">
                                <div style="text-transform: uppercase;">{{ user.first_name }} {% count_all_unread_messages user %}</div>
                        </a>
                        <a href="{% url 'inbox' %}" class="top-menu-right-button">
                                <img src="{{ STATIC_URL }}img/profile/mail.png"/>
                        </a>
                    {% endif %}
                    <a href="{% url 'contact' %}" class="top-menu-right-button" {% if user.is_authenticated %} style="border-right: 2px dotted #434a54; padding-right: 20px;" {% endif %}>{% trans "CONTACT" %}</a>
                    <!-- <a href="{% url 'team' %}" class="top-menu-right-button">{% trans "THE TEAM" %}</a> -->
                    <a href="{% url 'marketplace' %}" class="top-menu-right-button">{% trans "MARKETPLACE" %}</a>
                    <a href="{% url 'mission' %}" class="top-menu-right-button">{% trans "ABOUT" %}</a>
                    <a href="{% url 'frontpage' %}" class="top-menu-right-button">{% trans "HOME" %}</a>
            	</div>
			</div>
		</div>
	</div>
</header>

<body>
	{% block content %}{% endblock %}
</body>
<script src='{{ STATIC_URL }}js/pop-up-book-jquery.js' type='text/javascript'></script>
<script src='{{ STATIC_URL }}js/notification-slider-jquery.js' type='text/javascript'></script>
</html>